# cat <<'EOF' > order-service-k8s.yml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: docker.io/masterhuthiu/order-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8082
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: prod
            - name: JHIPSTER_SLEEP
              value: '10'
            - name: SPRING_CLOUD_CONSUL_HOST
              value: consul-server-service
            - name: SPRING_CLOUD_CONSUL_PORT
              value: '8500'
            - name: SPRING_DATA_MONGODB_URI
              value: mongodb://mongodb:27017/orderService
            - name: JHIPSTER_SECURITY_AUTHENTICATION_JWT_BASE64_SECRET
              value: oYsW0ubEe35tInUgRDa7SVygI2QC2pR5ewCjUt5QXoNzMNbh/iBqgasMclMATgWSmfbzsXKg+Z0QxZhJCWl8dQ==
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
spec:
  selector:
    app: order-service
  ports:
    - port: 8082
      targetPort: 8082
  type: ClusterIP
# EOF
